#gallery {

  .gallery-container {
    max-width: 1200px;
    margin: auto;

    .gallery-item {
      @media only screen and (max-width: 767px) {
        width: 100%;
        float: none;
      }

      width: 30%;
      float: left;
      margin: 8px 1.666665%;
      cursor: pointer;

      .gallery-body {
        -webkit-transition: all 200ms ease-in;
        -moz-transition: all 200ms ease-in;
        -ms-transition: all 200ms ease-in;
        -o-transition: all 200ms ease-in;
        transition: all 200ms ease-in;

        position: relative;
        overflow: hidden;


        &:hover {

          .gallery-title {
            top: 0px;
            opacity: 1;
          }

          .credits {
            bottom: 0px;
            opacity: 1;
          }
        }

        .gallery-title {
          position: absolute;
          top: -30px;
          opacity:0;
          &:hover {
            top: 0px;
          }
        }

        .image {
          -webkit-transition: all 200ms ease-in;
          -moz-transition: all 200ms ease-in;
          -ms-transition: all 200ms ease-in;
          -o-transition: all 200ms ease-in;
          transition: all 200ms ease-in;

          width: 100%;
          height: 200px;
          display: block;
          background-position: center center;
          -webkit-background-size: cover;
          background-size: cover;


        }

        .credits {
          position: absolute;
          bottom: -30px;
          opacity:0;
          &:hover {
            bottom: 0px;
          }
        }

        .overlays {
          -webkit-transition: all 200ms ease-in;
          -moz-transition: all 200ms ease-in;
          -ms-transition: all 200ms ease-in;
          -o-transition: all 200ms ease-in;
          transition: all 200ms ease-in;

          background-color: rgba(255,255,255,.5);
          display: block;
          width: 100%;
          text-transform: uppercase;
          padding: 6px 0px;
          text-align: center;
        }
      }
    }

  }
}