body {
  font-family: 'Maven Pro', sans-serif;

  &.is_gallery_open {
    background-color: #555;
  }

  #header {
    margin: 40px 0;

    .title {
      text-align: center;
    }
  }


  #modal-container {
    visibility: hidden;

    position: fixed;
    max-width: 100%;
    margin: auto;
    height:100%;
    top: 0;
    left: 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;

    .close-modal {
      @media only screen and (max-width: 1200px) {
        width: 30px;
      }
      @media only screen and (max-width: 480px) {
        right: 5px;
        top: 5px;
      }

      width: 50px;
      display: block;
      position: absolute;
      right: 0px;
      top: 0px;
      z-index:5;
      cursor: pointer;
    }

    .image-container {
      -webkit-transition: all 400ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
      -moz-transition: all 400ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
      -ms-transition: all 400ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
      -o-transition: all 400ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
      transition: all 400ms cubic-bezier(0.18, 0.89, 0.32, 1.28);

      margin: 40px auto;
      text-align: center;
      bottom: -100px;
      opacity: 0;
      position: relative;
      width: 95%;
      left: 0;
      right: 0;

      .image {
        max-width: 100%;
        max-height: 100%;

        @media only screen and (max-width: 1200px) {
          width: 85%;
        }

        @media only screen and (max-width: 480px) {
          width: 100%;
        }
      }

      .modal-credits {
        a {
          color: white;
          text-decoration: none;
          border-bottom: 1px solid white;
          padding-bottom: 3px;
        }

      }
    }

    &.open {
      visibility: visible;

      .image-container {
        opacity: 1;
        bottom: 0;

      }
    }
  }
}

.loader-icon {
  margin:auto;
  width:100px
}