<!DOCTYPE html>
<html>
<head>
    <title>Blog</title>
    <link href="dist/css/build.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro" rel="stylesheet">
</head>
    <body>

        <div id="header">
            <h1 class="title">flallery</h1>
        </div>



        <div id="gallery">
            <div class="loader-icon">
                <svg version="1.1" id="L9" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
                <path fill="#000" d="M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50" transform="rotate(266.387 50 50)">
                  <animateTransform attributeName="transform" attributeType="XML" type="rotate" dur="1s" from="0 50 50" to="360 50 50" repeatCount="indefinite"></animateTransform>
              </path>
            </svg>
            </div>
        </div>


        <div id="footer"></div>

        <div id="modal-container">
            <div class="image-container"></div>
        </div>


        <script id="gallery_template" type="text/template">
           <div class="gallery-container"></div>
        </script>

        <script id="gallery_item_template" type="text/template">
            <div class="gallery-item" data-id="<%= model.get('id') %>">

                <div class="gallery-body">
                <span class="gallery-title overlays"><%= model.get('title') %></span>
                <span class="image" style="background-image:url(<%= model.get('url_m') %>)"></span>
                <span class="credits overlays"> <strong>by:</strong> <%= model.get('ownername') %></span>
                </div>

            </div>
        </script>

        <script id="model_template" type="text/template">
            <span class="close-modal">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 64 64" enable-background="new 0 0 64 64">
                    <g>
                        <path fill="#FFFFFF" d="M28.941,31.786L0.613,60.114c-0.787,0.787-0.787,2.062,0,2.849c0.393,0.394,0.909,0.59,1.424,0.59   c0.516,0,1.031-0.196,1.424-0.59l28.541-28.541l28.541,28.541c0.394,0.394,0.909,0.59,1.424,0.59c0.515,0,1.031-0.196,1.424-0.59   c0.787-0.787,0.787-2.062,0-2.849L35.064,31.786L63.41,3.438c0.787-0.787,0.787-2.062,0-2.849c-0.787-0.786-2.062-0.786-2.848,0   L32.003,29.15L3.441,0.59c-0.787-0.786-2.061-0.786-2.848,0c-0.787,0.787-0.787,2.062,0,2.849L28.941,31.786z"/>
                    </g>
                </svg>
            </span>

            <img class="image" src="<%= model.get('url_l') %>" />

            <p class="modal-credits"><a href="<%= model.getPostUrl() %>" target="_blank">Original source</a></p>
        </script>

        <!--<script src="dist/build/js/build.js"></script>-->
        <script data-main="src/js/main" src="src/js/lib/require.js"></script>
    </body>
</html>